.search-result-card {
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
    flex-shrink: 0;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    transition: box-shadow 0.2s ease, background 0.2s ease;

    &:hover {
        background: linear-gradient(135deg, #d8f1ff 0%, #bdd4ff 100%);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    }
}

.image-container {
    width: 11%;
    height: auto;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    img.card-image {
        width: 90%;
        height: 90%;
        object-fit: cover;
        transition: transform 0.3s ease;
        border-radius: 12px;
    }
}

.card-info {
    padding: 14px 18px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.location {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .icon-location {
        margin-right: 6px;
        color: #555;
    }
}
