/* Carousel.module.scss */

.title {
    margin-bottom: 20px;
    font-size: 2.7rem;
    font-weight: 600;
}

.carousel {
    height: auto;
    width: 100%;
    min-width: 330px;
    position: relative;
    justify-content: center;
    overflow: hidden;
}

.carousel-items {
    margin: 5px 0;
    /* bỏ width/min-width cứng để flexibly trên mobile */
    width: auto !important;
    min-width: 0 !important;
}

.customArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}


:global(.slick-slide) {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    :global(.slick-slide) {
     
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .carousel-items {
        margin: 0;
        padding: 0 10px; 
    }
}
