.title {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
