.place-card {
    width: 100%;
    max-width: 185px;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.custom-card {
    border-radius: 5px;
    overflow: hidden;
}

.image-container {
    position: relative;
}

.card-image {
    width: 100%;
    height: 235px;
    object-fit: cover;
    border-radius: 8px;
}
.card-title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 8px 8px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

@media (max-width: 768px) {
    .place-card {
        width: 100%;
        max-width: 185px;
    }
}
